.portlet-boundary {
    .portlet {
        float: left;
        width: 100%;
        margin-bottom: $grid-gutter-width;

        .portlet-title-text {
            margin-bottom: 0;
        }

        .portlet-content {
            background: $backgroundPortlet;
            border: 1px solid $gray-light;
            border-radius: 0;
            padding: ceil($grid-gutter-width);
            float: left;
            width: 100%;
        }
    }

    &.portlet-fullWidth {
        margin-left: ceil(-$grid-gutter-width);
        margin-right: ceil(-$grid-gutter-width);

        .portlet-content {
            padding: 0;
            border: 0;
        }
    }

    &.portlet-noPadding {
        .portlet-content {
            padding: 0;
            border: 0;
            background: 0;
        }
    }
	
    &.portlet-noPaddingMargin {
	
		.portlet{
			margin-bottom: 0;
			margin-top: 0;
		
			.portlet-content {
				padding: 0;
				border: 0;
				background: 0;
				margin-left: -20px;
				margin-right: -20px;
				float: none;
				width: initial;				
			}
		}	
    }
	
}