// Icon paths

$FontAwesomePath: 						"aui/lexicon/fonts/alloy-font-awesome/font";
$font-awesome-path: 					"aui/lexicon/fonts/alloy-font-awesome/font";
$icon-font-path: 						"aui/lexicon/fonts/";


// CUSTOM VARIABLES
/** Grid System **/
$grid-gutter-width: 					20px;

/** Colors **/
$gray-base: 							#444444;
$gray-darker:							#444444;
$gray-dark:								#444444;
$gray-light:							#eeeeee;
$brand-primary:							#1d628b;

/** Scaffolding **/
$body-bg:								#f3f3f3;
$text-color:							$gray-base;

/** Typography **/
$font-family-base:						Roboto,Arial,Helvetica,sans-serif;
$font-family-serif: 					$font-family-base;
$font-family-sans-serif: 				$font-family-serif;
$font-size-base:						16px;
$font-size-h1: 							ceil(($font-size-base * 1.875));
$font-size-h2: 							ceil(($font-size-base * 1.5));
$font-size-h3: 							ceil(($font-size-base * 1.125));
$font-size-h4: 							ceil(($font-size-base));
$font-size-h5: 							ceil(($font-size-base * 0.875));
$font-size-h6: 							ceil(($font-size-base * 0.75));
$line-height-base: 						1.5;
$headings-line-height: 					1.625;

/** Components **/
$border-radius-base: 					0;
$border-radius-large:					0;
$border-radius-small:					0;

/** Navbar **/
$navbar-default-bg: 					transparent;
$navbar-default-border: 				transparent;
$navbar-default-link-color:				$brand-primary;

/** Modals **/
$modal-inner-padding:					$grid-gutter-width;
$modal-title-padding:					$grid-gutter-width;
$modal-content-border-color:			transparent;
$modal-backdrop-opacity:				.3;
$modal-header-border-color:				$gray-light;
$modal-footer-border-color: 			$modal-header-border-color;

/** Forms **/
$input-bg: 								#ffffff;
$input-bg-disabled: 					$input-bg;
$input-color:							$gray-base;
$input-border: 							$gray-base;
$input-border-focus: 					$brand-primary;
$form-group-margin-bottom:				0;
$legend-border-color:					$gray-light;
$input-group-addon-bg:					$gray-base;
$input-group-addon-border-color: 		$gray-base;
$input-color-placeholder:				#aaaaaa;

/** Buttons **/
$btn-default-color:						$gray-base;
$btn-default-bg:						#ffffff; 
$btn-default-border:					$gray-base;
$btn-primary-color:						#ffffff;
$btn-primary-bg: 						$brand-primary;
$btn-primary-border: 					$brand-primary;	
$btn-font-size: 						ceil(($font-size-base * 1.125));
$btn-padding-vertical:					ceil(($grid-gutter-width / 2)); 
$btn-padding-horizontal:				$grid-gutter-width;			
$btn-line-height:						$headings-line-height;

/** **/
$secondaryColor: 						$gray-base;
$colorLetterBackBlue: 					$btn-primary-color;
$backgroundPortlet: 					#ffffff;


/** Cards **/
$card-gutter-width: 					ceil($grid-gutter-width / 2);
$card-margin-bottom: 					$grid-gutter-width;


/** Panel **/
$panel-heading-padding:					$grid-gutter-width $grid-gutter-width ceil($grid-gutter-width / 2);
$panel-default-heading-bg: 				#ffffff;
$panel-body-padding:					0 $grid-gutter-width $grid-gutter-width;
$panel-footer-bg: 						#ffffff;
$panel-footer-padding: 					ceil($grid-gutter-width / 2) $grid-gutter-width;
$panel-inner-border:  					$gray-light;
$panel-default-border: 					$gray-light;
$panel-footer-bg: 						#ffffff;
$panel-default-text: 					#ffffff;
$panel-inner-border: 					$gray-light;

/** Card List Carousel **/
$card-list-carousel-item-padding:		ceil(($grid-gutter-width / 2));

$card-list-carousel-arrow-padding:		ceil(($grid-gutter-width / 2));
$card-list-carousel-arrow-font-size:	40px;
$card-list-carousel-arrow-line-height:	$card-list-carousel-arrow-font-size;
$card-list-carousel-arrow-color:		$secondaryColor;

$card-list-carousel-container-margin:	ceil((($card-list-carousel-arrow-font-size + ($card-list-carousel-arrow-padding * 2)) - $card-list-carousel-item-padding));
$card-list-carousel-container-space:	ceil((($card-list-carousel-arrow-font-size + ($card-list-carousel-arrow-padding * 2)) * 2) - ($card-list-carousel-item-padding * 2));



/** Carousel **/
$carousel-arrow-padding:				ceil(($grid-gutter-width / 2));
$carousel-arrow-font-size:				40px;
$carousel-arrow-line-height:			$carousel-arrow-font-size;
$carousel-arrow-color:					#fff;




/*********************/

$alert-border-width:					1px;
$alert-font-size:						16px;

$management-bar-default-btn-default-bg: $btn-default-bg;
$management-bar-default-btn-default-color: $gray-base;
$management-bar-default-btn-default-border: $gray-base;

$splitter-bg: lighten($brand-primary,60%);
$splitter-text-color: $brand-primary;
