#footer{
	margin-left: ceil(-($grid-gutter-width));
	margin-right: ceil(-($grid-gutter-width));
	padding: $grid-gutter-width  ceil($grid-gutter-width / 2) 0;
	background: $secondaryColor;
	
	.portlet-content{
		background: 0;
	}
	.container-fluid{
		padding:0;
	}
	
	ul{
		list-style:none;
		padding:0;
		margin:0;
	}
	
	.section1{
		padding: $grid-gutter-width ceil($grid-gutter-width * 1.5);	
		
		*{
			color:#ffffff;
			border:0;
			margin-bottom:0;
		}

		.footer-links{
			.portlet-body{
				ul{
					-webkit-column-count: 3;
					-moz-column-count: 3;
					column-count: 3;			
					
					-webkit-column-gap: ceil(($grid-gutter-width * 2));
					-moz-column-gap: ceil(($grid-gutter-width * 2));
					column-gap: ceil(($grid-gutter-width * 2));

					display:inline-block;		
						
					li{
						margin-bottom:$grid-gutter-width;

						ul{
							column-count: 1;
							column-gap: 0px;
							margin-top: ceil(($grid-gutter-width / 2));

							li{
								float:left;
								width:100%;
								font-size:ceil(($font-size-base * 0.875));
								padding-left:ceil(($grid-gutter-width / 2));
								font-style:italic;
								margin-bottom:ceil(($grid-gutter-width / 2));

								&:last-child{
									margin-bottom:0;
								}								
							}
						}

						&:last-child{
							margin-bottom:0;
						}
					}
				}
			}
		}
		
		.component-social{
			ul{
				margin-bottom: ceil($grid-gutter-width * 2);
				
				li{
					display:inline-block;
					padding:0 ceil($grid-gutter-width / 2);
					
					a{
						display: inline-block;
						font-size: ceil(($font-size-base * 1.625));
						text-align: center;
						width: 100%;
					}
				}
			}
		}
		
		.component-newsletter{
			h3{
				margin-bottom: ceil(($grid-gutter-width / 2));
			}
		}
	}
	
	.section2{
		background: $brand-primary;

		.panel{
			color:$colorLetterBackBlue;
			margin-bottom:0;
			border:0;

			.panel-body{
				padding-top: $grid-gutter-width;
			}
		}	
	}
}

@media(max-width: $screen-xs){
	#footer{
		.section1{
			padding:0;

			.footer-links {
				.portlet-body {
					ul{
					    -webkit-column-count: 1;
					    -moz-column-count: 1;
					    -ms-column-count: 1;
					    column-count: 1;
					    display:block;	

					    ul{
					    	display:none;
					    }				
					}
				}
			}
			.component-social{
				margin-top:$grid-gutter-width;
				display:flex;
				justify-content:center;

				ul{
					margin-bottom:ceil(($grid-gutter-width * 1.5));
				}
			}			
		}

		.section2{
			margin-top:$grid-gutter-width;
		}

		.portlet-content{
			padding: ceil(($grid-gutter-width / 2));
		}
	}	
}