.header-nav {
    background: $brand-primary;
    margin-bottom:$grid-gutter-width;
    height:56px;

    .logo{
        margin-left: $grid-gutter-width;
        padding: 10px 0;
        margin-right: $grid-gutter-width; 

        img{
            height:36px;
            width:auto;            
        }      
    }

    .show-menu {
        padding: $grid-gutter-width;
        background: 0;
        border: 0;
        width: 23px;
        height: 16px;
        box-sizing: content-box;
        position: relative;
        float: left;
        display:none;

        .icon-bar {
            height: 2px;
            width: 23px;
            background: $btn-primary-color;
            display: block;
            position: absolute;
            top: $grid-gutter-width;
            left: $grid-gutter-width;
            transition: .25s ease-in-out;

            &:nth-child(3), &:nth-child(4) {
                top: 27px;
            }

            &:nth-child(5) {
                top: 34px;
            }

            &.active {
                &:nth-child(2) {
                    width: 0;
                    left: 50%;
                    top: 27px;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg);
                }

                &:nth-child(4) {
                    transform: rotate(-45deg);
                }

                &:nth-child(5) {
                    width: 0;
                    left: 50%;
                    top: 27px;
                    opacity: 0;
                }
            }
        }
    }
} 

.type1{
    margin: ceil(-($grid-gutter-width)) ceil(-($grid-gutter-width)) 0 ceil(-($grid-gutter-width));  
    .header-nav {
        display:flex;
        align-items:center;
        .show-menu {
            display:none;
        }
    } 
    nav{
        ul{
            margin:0;
            li{
                display:inline;
                list-style:none;
                a{
                    color:$btn-primary-color;
                }
                ul{
                    display:none;
                }
            }
        }
    }
}



.type2{
    .header-nav {
        background: #fff;
        .show-menu {
            display:block; 
            .icon-bar {
                background: $brand-primary;
            }
        }
    }    
}

@media(max-width:768px){
    .show-menu{
        display:block;
    }
}