/** TABLES **/

table {
    margin-bottom: $grid-gutter-width;
    max-width: 100%;
    width: 100%;

    thead {
        td, th {
            border-bottom: 2px solid $gray-light;
            vertical-align: bottom;
            border-top: 0 none;
        }
    }

    tbody {
        td, th {
            border-top: 1px solid $gray-light;
            line-height: $line-height-base;
            padding: ceil(($grid-gutter-width / 2));
            vertical-align: top;
        }
    }
}