.carousel-template{

	img{
		width:100%;
	}

	.owl-controls{
		
		.owl-buttons > div{
			background: 0;
			font-size: $carousel-arrow-font-size;
			line-height: $carousel-arrow-line-height;
			margin: 0;
			padding: $carousel-arrow-padding;
			color: $carousel-arrow-color;


			margin:0;
			position:absolute;
			top:50%;
			margin-top: ceil(-($carousel-arrow-line-height + ($carousel-arrow-padding * 2)) /2);			
			
			&.owl-next{
				right:0;
			}
			&.owl-prev{
				left:0;
			}			
		}
	}
}